html {
  width: 100%;
  margin: 0;
}

body {
  width: 100%;
  margin: 0;
}

header {
  position: fixed;
  display: flex;
  background-color: #2b2d42;
  height: 5rem;
  width: 100%;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
}

.arrange-phase {
  position: fixed;
  top: 0;
  display: flex;
  background-color: rgba(19, 19, 19, 0.671);
  width: 100%;
  height: 100%;
  justify-content: center;
  /* align-items: center; */
  z-index: 1;
}

h3 {
  font-family: "Redressed", cursive;
  font-size: x-large;
  margin-top: 0;
}

.arrange-section {
  position: fixed;
  display: flex;
  width: 50vw;
  /* height: 85vh; */
  flex-direction: column;
  padding: 10px;
  margin-top: 10px;
  background-color: #edf2f4;
  border: #2b2d42 solid 2px;
  border-radius: 15px;
}

.map-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 65%; */
}

.map {
  display: grid;
  background-color: rgba(178, 227, 255, 70%);
  border-radius: 15px;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
}

.map a {
  display: flex;
  background-color: rgba(178, 227, 255, 70%);
  width: 40px;
  height: 40px;
  margin: 0;
  filter: blur(0px);
  justify-content: center;
  align-items: center;
  border: white solid 0.3px;
}

.map a:hover,
.highlight {
  background-color: rgba(255, 255, 255, 0.7) !important;
}

.control-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

#rotate-btn {
  transform: scale(0.8);
  width: 32px;
  height: 32px;
  margin: 0 8px;
  filter: brightness(0.2);
}

#rotate-btn.active {
  filter: brightness(1.2);
  cursor: pointer;
}

#delete-btn {
  width: 32px;
  height: 32px;
  margin: 0 8px;
}

#delete-btn.active {
  filter: contrast(1.5);
  cursor: pointer;
}

.ships {
  display: flex;
  justify-content: center;
  /* margin-top: 20px; */
}

.shipp {
  width: 30px;
  height: 90px;
  border-radius: 25px;
  background-color: #2b2d42;
  margin: 0 30px;
}

.shipp:hover,
.ship-highlight {
  background-color: #8d99ae !important;
  cursor: pointer;
}

#number-1 {
  height: 60px;
  /* display: none; */
}

#number-4 {
  height: 120px;
}

.arrange-btns {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.arrange-btns button {
  margin: 0 10px;
  width: auto;
  height: auto;
  font-family: "Redressed", cursive;
  font-size: 22px;
  /* text-align: center; */
  color: #ffdb56;
  background-color: #4c334d;
  border-radius: 10px;
}

.arrange-btns button:hover {
  background-color: #1d3958;
  cursor: pointer;
}

.logo {
  display: flex;
  margin-left: 10px;
  align-items: flex-end;
}

.logo-pic {
  background-image: url("../Assets/compass.png");
  background-size: 60px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.logo-text {
  margin: 0.3rem;
  color: #ffdb56;
  font-size: 1rem;
}

.nav-bar_btns {
  display: flex;
  margin-right: 0.5rem;
  align-items: center;
}

a {
  margin: 1rem;
  color: #edf2f4;
  font-size: 1.3rem;
  text-decoration: none;
}

.nav-bar_btns a:last-of-type {
  margin-right: 40px;
}

a:hover {
  font-size: 1.6rem;
  color: #ffdb56;
}

.profile {
  background-color: #fad2e1;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  margin: 0;
}

main {
  height: 700px;
  margin-top: 5rem;
}

.background-image {
  background-image: url("../Assets/background.jpg");
  width: 100vw;
  height: 700px;
  background-size: 400px;
  position: fixed;
  opacity: 50%;
  z-index: -1;
}

.main-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.turn-teller {
  display: flex;
  background-color: #4c334d;
  border: #2b2d42 solid 3px;
  border-radius: 10px;
  width: 150px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.turn-teller h3 {
  color: #ffdb56;
}

.screen-container {
  display: flex;
  width: 100vw;
  height: 550px;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.screen-container div {
  display: grid;
  background-color: rgba(178, 227, 255, 70%);
  border-radius: 15px;
  margin: 0 60px;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
}

.screen-container a {
  display: flex;
  background-color: rgba(178, 227, 255, 70%);
  cursor: crosshair;
  width: 50px;
  height: 50px;
  margin: 0;
  filter: blur(0px);
  justify-content: center;
  align-items: center;
  border: white solid 0.3px;
}

.screen-container a:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

#grid-1 {
  border-top-left-radius: 12px;
}

#grid-10 {
  border-top-right-radius: 12px;
}

#grid-91 {
  border-bottom-left-radius: 12px;
}

#grid-100 {
  border-bottom-right-radius: 12px;
}

.screen-container .hit {
  background-color: #ef233c;
}

div .ship-start {
  border-top-left-radius: 25px !important;
  border-bottom-left-radius: 25px !important;
  border-right: none;
  background-color: #2b2d42;
}

div .ship {
  background-color: #2b2d42;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}

div .ship-end {
  border-top-right-radius: 25px !important;
  border-bottom-right-radius: 25px !important;
  border-left: none;
  background-color: #2b2d42;
}

div .ship-start-vertical {
  border-top-left-radius: 25px !important;
  border-top-right-radius: 25px !important;
  border-bottom: none;
  background-color: #2b2d42;
}

div .ship-vertical {
  background-color: #2b2d42;
  border-top: 0;
  border-bottom: 0;
  border-radius: 0;
}

div .ship-end-vertical {
  border-bottom-right-radius: 25px !important;
  border-bottom-left-radius: 25px !important;
  border-top: none;
  background-color: #2b2d42;
}

footer {
  display: flex;
  background-color: #2b2d42;
  height: 3rem;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.footer-item {
  text-decoration: none;
  margin: 0 1rem;
  color: #ffdb56;
  font-size: 1.2rem;
}
